@import '_vars.scss';


h2{
    @include h2;
    text-align: center;
    margin-bottom: 60px;
    }

#gameplay{
    display: flex;
    width: 80%;
    margin: auto;

  

    article:nth-of-type(1){
        margin: auto;
        // background-color: orange;

       
            
            h3{
                @include diabloLight;
                color: $white;
                margin-bottom: 30px;
                text-align: center
            }
        
            p{
                @include paragraphe;
                margin-bottom: 70px;
        
            }
        
            iframe{
                border-radius: 20px;
            }
    }

    article:nth-of-type(2){
       margin: auto;       
        // background-color: rgb(200, 6, 6);

        h2{
            @include h2;
            text-align: center;
            margin-bottom: 20px;
            }
            
            h3{
                @include diabloLight;
                color: $white;
                margin-bottom: 20px;
                text-align: center
            }
        
            p{
                @include paragraphe;
                margin-bottom: 40px;
        
            }
        
            iframe{

                border-radius: 20px;
            }
    }



  
}